@page
@model MyNoteBook.Pages.Weathers.IndexModel

@{
    ViewData["Title"] = "Weather";
}

<h1>Weather</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Icon
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].WeatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].WeatherPic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Weather) {
        <tr>
            <td>
                <image class="weatherPic" src="@Html.DisplayFor(modelItem => item.WeatherPic)" style="width:60px;height:60px;"></image>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherPic)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WeatherId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WeatherId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WeatherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
